<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>预约电话</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="intro-pic">
			<img src="../img/4.jpg">
		</div>
		<div class="booking-text">
			<p>
				<span>总机：</span>
				<span>+86 (010) 65746567</span>
			</p>
			<p>
				<span>分机：</span>
				<span>+86 (010) 65746567</span>
			</p>
			<p>
				<span style="visibility:hidden;">分机：</span>
				<span>+86 (010) 65746567</span>
			</p>
		</div>
	</div>
</div>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
