<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>会展中心介绍</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="intro-pic">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../img/20.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../img/21.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../img/22.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../img/23.jpg">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<div class="intro-txt">
			<p>北京雁栖湖国际会展中心距离北京市区约40分钟车程，首都国际机场约30分钟车程，将于2015年6月正式开业。隶属于北控集团，由国际顶尖的会展场馆——国家会议中心负责运营管理，是集会议、展览、餐饮、酒店于一体的现代综合型会展场馆。</p>
			<p>2010年4月，为强化首都的国际交往功能，疏解首都交通压力，调整城市功能布局，提升北京世界城市高端服务水平，打造承接G20等国际高端会议、论坛的平台，北京市委、市政府决定在雁栖湖地区建设生态发展示范区。北控集团、北控置业为响应北京市委市政府的号召，打造怀柔雁栖湖生态发展示范区并建造国际一流会议接待中心，提供各项资源和资金承建“北京雁栖湖国际会都”的政府重点项目。</p>
			<p>2010年4月，为强化首都的国际交往功能，疏解首都交通压力，调整城市功能布局，提升北京世界城市高端服务水平，打造承接G20等国际高端会议、论坛的平台，北京市委、市政府决定在雁栖湖地区建设生态发展示范区。北控集团、北控置业为响应北京市委市政府的号召，打造怀柔雁栖湖生态发展示范区并建造国际一流会议接待中心，提供各项资源和资金承建“北京雁栖湖国际会都”的政府重点项目。</p>
			<p>2010年4月，为强化首都的国际交往功能，疏解首都交通压力，调整城市功能布局，提升北京世界城市高端服务水平，打造承接G20等国际高端会议、论坛的平台，北京市委、市政府决定在雁栖湖地区建设生态发展示范区。北控集团、北控置业为响应北京市委市政府的号召，打造怀柔雁栖湖生态发展示范区并建造国际一流会议接待中心，提供各项资源和资金承建“北京雁栖湖国际会都”的政府重点项目。</p>
			<p>2010年4月，为强化首都的国际交往功能，疏解首都交通压力，调整城市功能布局，提升北京世界城市高端服务水平，打造承接G20等国际高端会议、论坛的平台，北京市委、市政府决定在雁栖湖地区建设生态发展示范区。北控集团、北控置业为响应北京市委市政府的号召，打造怀柔雁栖湖生态发展示范区并建造国际一流会议接待中心，提供各项资源和资金承建“北京雁栖湖国际会都”的政府重点项目。</p>
		</div>
		<div class="intro-label">
			<span>技术参数</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">宴会厅：</span>	
		</div>
		<div class="intro-one">
			<span class="intro-blue">展厅面积（平米）：</span>
			<span>4500（500 x 9个小厅）</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">层高（米）：</span>
			<span>13.8</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">货梯尺寸</span>
			<span>2.6 x 6.2 x 2.4</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">承载能力（吨）：</span>
			<span>3.5</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">地面材质：</span>
			<span>地毯</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">网络信息点数量：</span>
			<span>268个</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">消防方式：</span>
			<span>喷淋</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">展厅面积（平米）：</span>
			<span>4500（500 x 9个小厅）</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">层高（米）：</span>
			<span>13.8</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">货梯尺寸</span>
			<span>2.6 x 6.2 x 2.4</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">承载能力（吨）：</span>
			<span>3.5</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">地面材质：</span>
			<span>地毯</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">网络信息点数量：</span>
			<span>268个</span>
		</div>
		<div class="intro-one">
			<span class="intro-blue">消防方式：</span>
			<span>喷淋</span>
		</div>
		<div class="intro-label">
			<span>更多图片</span>
		</div>
		<div class="intro-spic">
			<img src="../img/3.jpg">
		</div>
		<div class="intro-spic">
			<img src="../img/3.jpg">
		</div>
		<div class="intro-spic">
			<img src="../img/3.jpg">
		</div>
	</div>
</div>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
<script src="../js/swiper.min.js"></script>
<script>
new Swiper(".intro-pic",{
	autoplay: 2500,
    autoplayDisableOnInteraction: false,
	pagination: '.swiper-pagination',
    paginationClickable: true
});
</script>
</body>
</html>
