<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>企业信息</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="list-title">企业的近期动态：</div>
		<div class="list-box">
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁栖国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁宴会在雁栖国际会展中心举行宴会在雁栖国际中心举行栖国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁栖国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁栖国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁栖国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁栖宴会在雁栖国际会展中心举行国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超2000人宴会在雁栖国际会展中心举行</div>
			</a>
			<a class="list-one" href="group-intro.html">
				<div class="list-time">19/01.2015</div>
				<div class="list-text">首个超会在雁栖宴会在雁栖国际会展中心举行宴会在雁中心举行</div>
			</a>
		</div>
	</div>
</div>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
