<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>联系方式</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="intro-pic">
			<img src="../img/5.jpg">
		</div>
		<div class="booking-text">
			<p>
				<span>展览销售热线：</span>
				<span>+86-756-6988616  </span>
			</p>
			<p>
				<span>会议销售热线：</span>
				<span>+86-756-6988618</span>
			</p>
			<p>
				<span>总机：</span>
				<span>+86-756-6886666</span>
			</p>
			<p>
				<span>传真：</span>
				<span>+86-756-6806666</span>
			</p>
			<p>
				<span>地址：</span>
				<span>北京市朝阳区东三环东路海皇大厦1663号 </span>
			</p>
			<p>
				<span>邮编：</span>
				<span>100023</span>
			</p>
		</div>
	</div>
</div>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
