<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>展会活动</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="list-title">近期的展会活动信息：</div>
		<div class="list-box">
			<div class="list-tip">信息更新中……</div>
		</div>
	</div>
</div>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
