<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>北控集团介绍</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content yscroll">
		<div class="intro-pic">
			<img src="../img/2.jpg">
		</div>
		<div class="intro-txt">
			<p>北京控股集团有限公司（以下简称“北控集团”）成立于2005年1月，是北京市人民政府出资设立，由原京泰实业（集团）有限公司、北京控股有限公司与北京燃气集团有限责任公司通过联合重组方式组建的市属大型国有企业集团，2011年7月与北京京仪集团有限公司实施联合重组，企业实力进一步增强，是兼具境内外市场、实业经营和资本运营的国有控股集团。旗下拥有北京控股、北控水务、北京发展、北京建设、中国燃气5家香港上市公司和燕京啤酒、惠泉啤酒2家A股上市公司。</p>
			<p>北控集团作为首都基础设施和公用事业重要的投融资平台，多渠道融资成果显著。自集团成立以来，市场影响力持续扩大，融资能力不断增强，并多次抓住市场有利时机，通过股权债权等多种方式融资，累计金额达到462.06亿元，投资于北京项目建设，有力地支持了北京市国企重组和重大项目建设，为首都经济社会发展做出了贡献。</p>
			<p>北控集团始终坚持“立足北京，服务首都”的发展宗旨，不断创新服务首都发展模式，认真履行国企社会责任，圆满完成了各项重大活动的服务保障工作。此外，积极参与社会公益事业，先后向首都见义勇为基金会、北京市公安民警抚助基金会、奥运城市发展基金、北京市残疾儿童特殊教育基金等捐款；积极支持体育文化事业发展，赞助北京女子乒乓球队、女子足球队、男女橄榄球队等。</p>
			<p>近年来，北控集团重点发展燃气、啤酒、水务、高端装备制造等城市运行服务保障、具有品牌和市场优势、影响带动力大的基础性业务；加快培育固废处理、光伏发电、磁悬浮轨道交通、绿色地产、上游能源开发与战略储备等符合高端产业方向、成长空间大、发展动力强的成长性业务，有力支撑了首都经济社会发展和产业结构调整，市场影响力显著提升，企业规模不断扩大，经营业绩始终位居市属国有企业前列，连续多年入选由中国企业联合会和中国企业家协会评定的“中国企业500强”。</p>
			<p>未来，北控集团将按照“用心奉献，共享尊重”的理念，以发展绿色低碳经济为方向，以高端发展为标准，以做强做优基础性业务为支撑，以培育成长性业务为突破，以建设新国企为动力，融集境内外资本资源、智力资源，力争打造成国内一流、世界先进的企业集团，为首都经济社会发展做出更大贡献。 </p>
		</div>
	</div>
</div>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
</body>
</html>
