<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="top">
		<div class="menu-btn" id="menu-btn"></div>
		<span>意见留言</span>
		<a class="top-home" href="homing.html"></a>
	</div>
	<div class="content say-content yscroll trans05" id="content">
		<div class="say-one solid">
			<div class="say-icon host-icon">
				<img src="../img/host-icon.png">
			</div>
			<div class="say-text host-text">
				<div class="say-frame host-frame"></div>
				<div class="say-arrow host-arrow"></div>
				<span>亲：欢迎来到北京雁栖湖国际会展中心，有什么想说的，尽管吐槽~虽然不能实时回复，但会让程序猿GG尽快解决~</span>
			</div>
		</div>
	</div>
	<div class="say-btm">
		<div class="say-input">
			<input type="text" id="comment" placeholder="请输入内容">
		</div>
		<div class="say-btn" id="submit">发送</div>
	</div>
</div>
<script src="../js/mask.js"></script>
<script src="../js/menu.js"></script>
<script>new Menu();</script>
<script src="../js/comment.js"></script>
<script>new Comment();</script>
</body>
</html>
